.cap  {
    width: 50%;
    margin-top: 15px;
    background-color: #678bff;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 20px;
}

.cap:hover {
    background-color: #a9bdff;
  }