/* BOTONES GLOBALES */

.button {
      background-color: #4CAF50;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.4s;
      font-size: 20px;
}

.button:hover {
      background-color: #45cf49;
}

.button2 {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.button2:hover {
    background-color: #d1d1d1;
}


/* CABECERA INDEX 1 */
.image-fondo {
    background-image: url("../index-slider-img/yagakimi-1500x500.jpg");
    margin-bottom: 0px;

}
.cabecera{
  color: rgb(255, 255, 255);
  height: 300px;
  text-align: left;
  vertical-align: middle;
  text-shadow: rgba(17, 17, 17, 0.473) 10px 10px 10px;
  font-size: 22px;
}

.h1-name {
    color: #f1e9e9;
    -webkit-text-stroke: 2px rgb(182, 182, 182);
    font-size: 150px;
}

/* CABECERA INDEX 2 */
.image-fondo-2 {
      background-image: url("https://drive.google.com/uc?export=view&id=1axenfjZWf_uWAxpaxpYAAPh7AGxlwExk");
      margin-bottom: 10px;
      margin-top: 100px;
  }
  .cabecera-2{
    color: rgb(255, 255, 255);
    height: auto;
    line-height: auto;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 10px 10px 10px;
    font-size: 40px;
}

/* INDEX NORMAL */

body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;

}

.container {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
}


.episodio {
    margin-top: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6d6d;
    color: white;
    display: block;
    font-size: 17px;
}

div{
    width: 80%;
    margin: auto;
}

* {
    margin:0px;
    padding: 0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

.pag-manga {
    width: 1250px;
    vertical-align: middle;
}

.img-gal {
    width: 30%;
}

/* TEXTOS */

.titulo{
    margin-top: 40px;
    font-size: 30px;
}

p {
    color: black;
    font-size: 19px;
}
    
h1 {
         color: black;
}

.blanco {
    color: white;
    margin-top: 25px;
    padding-bottom: 25px;
}

.grande {
    font-size: 30px;
}

/* Botones */

.volver {
    width: 15%;
    margin-top: 15px;
    background-color: #ff6d6d;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 20px;
}
.volver:hover {
    background-color: #ff9090;

}

.sig {
    width: 4%;
    margin-top: 15px;
    background-color: #ff6d6d;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 30px;
}
.sig:hover {
    background-color: #ffbbbb;
}

.vermas {
    margin-top: 10px;
}

.mangasig {
    margin-left: 300px;
}

/* Clases de paneles */

.panel {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 5px 20px 3px #4e5d778f;
    margin: 0 auto;
}

.panel2 {
    background-color: #ff714e;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 5px 20px 3px #4e5d778f;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.alerta {
    background-color: red;
    border-radius: 8px;
    width: 40%;
    margin-right: 50%;
}

.alerta p {
    padding: 10px;
}

/* COCK0 */
div.gallery {
    margin: 15px;
    border-top: 1px solid #ccc;
    display: inline-block;
    width: 21%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
  }
  
  div.gallery:hover {
    box-shadow: 0 5px 20px 3px rgba(255, 255, 255, 0.6);
  }
  
  div.gallery img {
    width: 100%;
    border-radius: 8px;
    max-width: 500px;
  }
  
  div.desc {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  @media screen and (max-width: 411px) {
    p {
        font-size: 9px;
    }

    div.desc {
        padding: 2px;
        font-size: 10px;
    }

    .titulo{
        margin-top: 20px;
        font-size: 15px;
    }

    .grande {
        font-size: 15px;
    }

    .bot-play {
        width: 70%;
    }

    div.gallery {
        margin: 15px;
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 30%;
        max-width: 500px;
        background-color: white;
        border-radius: 8px;
    }

    .panel {
        background-color: #ffffff;
        border-radius: 5px;
        width: 60%;
        margin: 0;
        box-shadow: 0 5px 20px 3px #4e5d778f;
    }

}
