footer {
      text-align: center;
      padding: 3px;
      background-color: DarkSalmon;
      color: white;
      display: block;
      margin-top: 200px;
      font-size: 17px;
}

/* CABECERA INDEX 1 */
.image-fondo {
    background-image: url("../index-slider-img/halloween_pagina2.jpg");
    margin-bottom: 10px;
}
.cabecera{
  color: rgb(255, 255, 255);
  height: 600px;
  line-height: 500px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 10px 10px 10px;
  font-size: 52px;
}

/* CABECERA INDEX 2 */
.image-fondo-2 {
      background-image: url("../index-slider-img/campo_soleado.jpg");
      margin-bottom: 10px;
      margin-top: 100px;
  }
  .cabecera-2{
    color: rgb(255, 255, 255);
    height: auto;
    line-height: auto;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 10px 10px 10px;
    font-size: 40px;
}

/* INDEX NORMAL */

body{
    font-family: 'sans-serif';
    width: 1200px;
    padding: auto;
    margin-right: auto;
    background-color: #7ccbdf;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    text-decoration: none;
    display: inline-block;
}

* {
    margin:0px;

}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}


  /* ESTO ES PARA LA BARRA DE DIRECCIONES DE ARRIBA */

* {
      margin:0;
     /* padding:0;*/
      box-sizing:border-box;
}
nav a{
      text-decoration:none;
      color:inherit;
      font-size:20px;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:rgb(94, 110, 206);
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}
